
@{
    ViewBag.Title = "Vehicle";
}

<h2 class="text-center">Get Vehicle By Id</h2>

<div class="text-center">
    <br />
    <form method="get">
        <p>
            <input type="search" name="vehicleId" placeholder="Example: LX58CFV" required />
            <input type="submit" value="Search" />
        </p>
    </form>
    <br />
</div>

<h3 class="text-center" style="color: red">Error, please specify the correct id.</h3>
