
@{
    ViewBag.Title = "SearchBikeStantionByNaneError";
}

<h2 class="text-center">Search Bike Stantion By Nane</h2>

<div class="text-center">
    <br />
    <form method="get">
        <p>
            <input type="search" name="searchName" placeholder="Example: St. James" required />
            <input type="submit" value="Search" />
        </p>
    </form>
    <br />
</div>

<h3 class="text-center" style="color: red">Error, please specify the correct name.</h3>